.to-fade {
  @apply absolute px-2 py-1 mt-16 text-sm text-center text-white bg-gray-800 rounded opacity-0;
  transform: translate(-50%, 0);
  left: 50%;
}

@keyframes fadein {
  0% {
    @apply opacity-0;
    transform: translate(-50%, 0);
  }
  10%,
  90% {
    @apply opacity-100;
    transform: translate(-50%, -2rem);
  }
  100% {
    @apply opacity-0;
    transform: translate(-50%, -2rem);
  }
}
