name: ci
on: [push]
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - name: Begin CI...
        uses: actions/checkout@v2

      - name: Use Node 12
        uses: actions/setup-node@v1
        with:
          node-version: 12.x

      - name: Use cached node_modules
        uses: actions/cache@v1
        with:
          path: node_modules
          key: nodeModules-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            nodeModules-

      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Bootstrap
        run: yarn bootstrap
      - name: Test
        run: yarn test
      - name: Built
        run: yarn build
      - name: Deploy web
        if: github.ref == 'refs/heads/master'
        run: git pull && yarn deploy:web
      - name: Deploy npm
        if: github.ref == 'refs/heads/master'
        run: yarn deploy:npm
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
